body {
    font-family: 'Epilogue', sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: end;
    height: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.Tela {
    height: 620px;
}

/*Corpo do Menu*/
.Menu {
    width: 1350px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

/*Menu Esquerdo*/
#Seçoes {
    color: #b6acac;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
#Categories{
    color: #b6acac;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

#Seçoes_Company {
    display: none;
}
#Seçoes_Features {
    display: none;
}

#LogoSeparado {
    display: flex;
    flex-direction: row;
}

#Features {
    cursor: pointer;
    width: 90px;
    text-align: center;
}

#Company {
    cursor: pointer;
    width: 100px;
    text-align: center;
}

#Careers {
    width: 100px;
    text-align: center;
    cursor: default;
}

#About {
    text-align: center;
    width: 100px;
}

#Link_About {
    cursor: pointer;
}

#IMG {
    width: 200px;
}

/*Menu - Login*/
#login_Register {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 650px;
    align-content: center;
    text-align: start;
}

#Login {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #b6acac;
    width: 100px;
}

#Register {
    border: 3px solid #b6acac;
    color: #b6acac;
    border-radius: 10px;
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

#Register:hover {
    border: 3px solid black;
    color: black;
    cursor: pointer;
}

/*Corpo da Pagina*/
#Titulo {
    font-size: 70px;
    text-align: justify;
}

.BodyPag {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    height: 550px;
    align-items: center;
}

#IMGhero {
    height: 400px;
}

#Paragrafo {
    height: 70px;
    width: 340px;
    color: #b6acac;
}

#Text {
    width: 420px;
}

#LearnMore {
    display: flex;
    border-radius: 15px;
    border-style: solid;
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 150px;
    height: 50px;
}

#LearnMore:hover {
    width: 150px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    cursor: pointer;
}

.LogoMarcas {
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 500px;
    align-items: flex-end;
}

#IMGMenu {
    display: none;
}

#IMGLogoDoMenu {
    display: none;
}

@media only screen and (max-width: 500px) {
    #IMGMenu {
        display: block;
    }

    #IMGLogoDoMenu {
        display: none;
    }

    #login_Register {
        display: none;
    }

    body {
        width: 400px;
        height: 700px;
    }

    .Secao {
        text-align: justify;
        display: none;

    }

    .Menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 380px;
    }

    #LogoSeparado {
        display: none;
    }

    .BodyPag {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        height: 920px;
        width: 375px;
    }

    .attribution {
        display: none;
    }

    #IMGhero {
        height: 400px;
    }

    #Paragrafo {
        height: 70px;
        width: 340px;
        text-align: center;
        color: #b6acac;
    }

    #Text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 375px;
        height: 700px;
    }

    #LearnMore {
        display: flex;
        border-radius: 15px;
        border-style: solid;
        background-color: black;
        color: white;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 150px;
        height: 50px;
    }

    #LearnMore:hover {
        width: 150px;
        height: 50px;
        background-color: white;
        color: black;
        border-radius: 15px;
        border-color: black;
        border-style: solid;
        cursor: pointer;
    }

    .LogoMarcas {
        display: flex;
        justify-content: center;
        height: auto;
        width: 370px;
        align-self: center;
        align-items: flex-end;
    }

    #Titulo {
        font-size: 40px;
        text-align: center;
    }
    #Features {
        cursor: pointer;
        width: 90px;
        height: 25px;
        text-align: justify;
    }
    
    #Company {
        cursor: pointer;
        height: 25px;
        width: 100px;
        text-align: justify;
    }
    
    #Careers {
        width: 100px;
        height: 25px;
        text-align: justify;
        cursor: default;
    }
    
    #About {
        height: 25px;
        text-align: justify;
        width: 100px;
    }
    #IconClose{
        height: 100px;
    display: flex;
    justify-content: end;
    width: 200px;
    }
}